*{
    margin: 0;
    padding: 0;
}

#game{
    height: 500px;
    width: 400px;
    border: 1px solid black;
    margin: 1rem auto;
    background: url("bg.jpg");
    background-size: contain;
    overflow: hidden;
}
 

#whiteCar{
    height: 100px;
    width: 130px;
    /* background-color: aliceblue; */
    position: relative;
    top: 0px;
    left: 0px;
    text-align: center;
    animation: move 1.5s linear infinite;
}
#whiteCar img{
    height: 100px;
}
@keyframes move {
    0%{
        top:0px;
    }
    100%{
        top: 501px;
    }
}


#redCar{
    height: 100px;
    width: 130px;
    /* background-color: red; */
    position: relative;
    top: 250px;
    left: 130px;
    text-align: center;
}
#redCar img{
    height: 100px;
}

#result{
    height: 200px;
    width: 400px;
    background-color: rgb(219, 47, 47);
    margin:  1rem auto;
    border-radius: 40px;
    font-size: 30px;
    text-align: center;
    color: white;
    display:none;
}
#score{
    font-size: 2.2rem;
    color: rgb(0, 0, 0);
}
#btn{
    padding: 0.5rem 1rem;
    border-radius: 40px;
    border: none;
    background-color: black;
    color: white;
    font-size: 25px;
    margin-top: 10px;
    cursor: pointer;
    text-transform: uppercase;
}